@import "../utiles/variable";
header{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    
}
///faire en sorte que le lien soit souligné quand on est sur la page


header a{
    color: $red-color;
    text-decoration: none;
    margin-left: 60px;
    &.active {
        text-decoration: underline;}
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px; 
     
}
nav Link{
    padding-left: 40px;
    color: $red-color;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}
@media screen and (min-width: 320px) and (max-width: $mobile){
    header{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    img{
        width:100px;
        
    }
    a{
        font-size: 15px;
    }
    
}