header{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px; 
     
}
nav Link{
    padding-left: 40px;
    color: red;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}