.logement{
    margin-left: 100px;
    margin-right: 100px;
    background-color: #F6F6F6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
}