.collapse__dropdown__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    padding-right: 20px;
    padding-left: 20px;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 15px;
    
}
.collapse__dropdown__title h2, .fa-solid{
    font-size: 25px;
    color: #fff;
}
.collapse__dropdown__container{
    margin: auto;
    width: 70%;
    background-color: #F6F6F6;
    border-radius: 15px;
    transition: height 0.4s ease-in-out;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    
}
.collapse__dropdown__content{
    color: #FF6060;
    font-size: 22px;
    
   
}
.collapse__dropdown__content p{
    padding: 0px 25px 25px 25px;
    
}

.collapse__dropdown__content {
    max-height: 0;   
    transition: max-height 0.3s ease;
  }
  
  .collapse__dropdown__content.open {
    max-height: 250px; /* ou une valeur appropriée pour votre contenu */
    transition: all 2.0s ease;
  }
  
  .collapse__dropdown__content.open p {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  .collapse__dropdown__content p {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .fa-chevron-up.rotate {
    transform: rotate(-180deg);
    transition: all 0.5s ease;
  } 
  .fa-chevron-up.rotate.open{
    transform: rotate(-180deg);
    transition: transform 10.3s ease;
  }